@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
.contact-showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.contact-showcase .background-lines {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .contact-showcase .background-lines {
    display: block;
  }
}
.contact-showcase .container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}
.contact-showcase .container .content a {
  text-decoration: none;
  color: inherit;
  margin-left: 10px;
}
.contact-showcase .container .content a.active {
  font-weight: 500;
}
.contact-showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 40px;
  margin-top: 10px;
}
@media (min-width: 776px) {
  .contact-showcase .container .content h1 {
    font-size: 56px;
  }
}

.contact-info .container {
  margin-top: 50px;
}
@media (min-width: 776px) {
  .contact-info .container {
    margin-top: 100px;
  }
}
.contact-info .container .contact-boxes {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media (min-width: 1200px) {
  .contact-info .container .contact-boxes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.contact-info .container .contact-boxes .contact-box {
  border: 1px solid #D1D1D1;
  padding: 25px 20px;
  display: flex;
}
@media (min-width: 776px) {
  .contact-info .container .contact-boxes .contact-box {
    padding: 45px 60px;
  }
}
.contact-info .container .contact-boxes .contact-box .btn-circular {
  align-items: start;
}
.contact-info .container .contact-boxes .contact-box .btn-circular i:hover {
  color: #ffffff;
  background-color: #191919;
}
.contact-info .container .contact-boxes .contact-box .contact-text h3 {
  margin-bottom: 15px;
}
.contact-info .container .contact-boxes .contact-box .contact-text p {
  margin-bottom: 0px;
}

.message {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 776px) {
  .message {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}
.message .container {
  background-color: #f0efe9;
  display: flex;
  flex-direction: column;
  padding: 70px 40px;
}
@media (min-width: 776px) {
  .message .container {
    padding: 120px 120px;
  }
}
.message .container .section-title {
  text-align: center;
}
.message .container .section-title h2 {
  font-size: 35px;
}
@media (min-width: 992px) {
  .message .container .section-title h2 {
    font-size: 45px;
  }
}
.message .container .message-input form {
  display: flex;
  flex-direction: column;
}
.message .container .message-input form input {
  margin-bottom: 10px;
}
.message .container .message-input form input.text {
  padding-bottom: 120px;
}
.message .container .message-input form .btn-yellow {
  margin-top: 30px;
  text-align: center;
}

.map img {
  width: 100%;
  display: none;
}
@media (min-width: 776px) {
  .map img {
    display: block;
  }
}