@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html,
body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html h3,
body h3 {
  font-size: 22px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}

.social-media {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
}
.social-media .social-media-button {
  color: inherit;
  text-decoration: inherit;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 12px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-transparent {
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 12px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px soild #191919;
  color: white;
}

.btn-black {
  border: 1px solid #191919;
  background-color: #191919;
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-black i {
  margin-left: 12px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: white;
  border: 1px soild #191919;
  color: #191919;
}

.btn-circular {
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.btn-circular i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.btn-circular i:hover {
  background-color: white;
  color: #191919;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
@media (min-width: 992px) {
  .section-title {
    text-align: start;
  }
}
.section-title h2 {
  font-size: 45px;
  font-weight: 700;
  font-family: "DM Sans", sans-serif;
}
.section-title p {
  color: #f94d1c;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-decoration: none;
  color: inherit;
}
.article img {
  width: 100%;
  height: auto;
}

header {
  background-color: #f0efe9;
}
header .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
header .container #crito-logotype {
  padding-right: 90px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .header-contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #dad9d3;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact {
    justify-content: space-between;
  }
}
header .container .menu .header-contact .contact-info {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact .contact-info {
    display: flex;
  }
}
header .container .menu .header-contact .contact-info .contact {
  font-size: 15px;
  font-weight: 300;
  padding-right: 30px;
  margin-right: 20px;
  border-right: 1px solid #dad9d3;
}
header .container .menu .header-contact .contact-info .contact i {
  margin-right: 3px;
  font-size: 1.2em;
}
header .container .menu .header-contact .contact-info .contact.last {
  border: none;
}
header .container .menu .header-contact .social-media {
  width: 120px;
}
header .container .menu .header-contact .social-media .social-media-button {
  color: #191919;
}
header .container .menu .header-contact .social-media .social-media-button:hover {
  color: #707070;
}
header .container .menu .header-contact .social-media .social-media-button:active {
  color: #434343;
}
header .container .menu .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header .container .menu .header-menu .nav {
  display: flex;
  justify-content: space-between;
}
header .container .menu .header-menu .nav a {
  text-decoration: inherit;
  cursor: pointer;
  display: inline-block;
  margin-right: 35px;
  position: relative;
  color: inherit;
}
header .container .menu .header-menu .nav a.active::after, header .container .menu .header-menu .nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #f0efe9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 1200px) {
  .showcase .background-lines {
    display: block;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: start;
  }
}
.showcase .container .content p {
  font-size: 15px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content p {
    text-align: start;
  }
}
.showcase .container .content .links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .showcase .container .content .links {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content .links {
    justify-content: start;
  }
}
.showcase .container .content .links a {
  margin-bottom: 15px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .showcase .container .content .links a {
    margin-bottom: 0px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.brands .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 22px;
  padding-bottom: 26px;
}
@media (min-width: 768px) {
  .brands .container {
    padding-top: 32px;
    padding-bottom: 42px;
  }
}
@media (min-width: 1200px) {
  .brands .container {
    padding-top: 72px;
    padding-bottom: 82px;
  }
}
.brands .container img {
  max-width: 100%;
  max-height: 100%;
}

.features .crito-ainer {
  background-color: hotpink;
}

.about-company .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  .about-company .container {
    flex-direction: row;
  }
}
.about-company .container .founder-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-bottom: 40px;
}
.about-company .container .founder-section img {
  display: none;
}
@media (min-width: 768px) {
  .about-company .container .founder-section img {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.about-company .container .founder-section .about-founder {
  position: relative;
  padding-top: 35px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #beebff;
}
@media (min-width: 768px) {
  .about-company .container .founder-section .about-founder {
    margin-bottom: -220px;
    height: 185px;
    width: 368px;
    right: 56px;
    bottom: 220px;
  }
}
.about-company .container .founder-section .about-founder h3 {
  font-size: 20px;
  padding-bottom: 12px;
}
.about-company .container .founder-section .about-founder h3 span {
  color: #f94d1c;
  font-size: 16px;
}
.about-company .container .about-company-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 992px) {
  .about-company .container .about-company-text {
    text-align: start;
    padding-left: 50px;
  }
}
@media (min-width: 1400px) {
  .about-company .container .about-company-text {
    padding-left: 200px;
  }
}
.about-company .container .about-company-text p {
  padding-bottom: 50px;
}
@media (min-width: 1200px) {
  .about-company .container .about-company-text p {
    padding-bottom: 100px;
  }
}
@media (min-width: 1400px) {
  .about-company .container .about-company-text p {
    padding-bottom: 170px;
  }
}
.about-company .container .about-company-text .section-title {
  padding-bottom: 20px;
  padding-top: 0px;
}
.about-company .container .about-company-text .section-title p {
  padding-bottom: 0px;
}
.about-company .container .about-company-text .learn-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 360px) {
  .about-company .container .about-company-text .learn-video {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .about-company .container .about-company-text .learn-video {
    justify-content: start;
  }
}
.about-company .container .about-company-text .learn-video .play-video {
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .about-company .container .about-company-text .learn-video .play-video {
    justify-content: left;
    margin-left: 40px;
  }
}
.about-company .container .about-company-text .learn-video .play-video .btn-play {
  display: flex;
  color: #191919;
  text-decoration: none;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.about-company .container .about-company-text .learn-video .play-video .btn-play i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #191919;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.about-company .container .about-company-text .learn-video .play-video .btn-play:hover i {
  background-color: #191919;
  border: 1px soild #191919;
  color: white;
}

.services {
  background-color: #f0efe9;
}
.services .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 992px) {
  .services .container {
    padding-bottom: 120px;
    padding-top: 120px;
  }
}
.services .container .section-title {
  padding-bottom: 30px;
  padding-top: 0px;
}
.services .container .service-links {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .services .container .service-links {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .services .container .service-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.services .container .service-links .service-link {
  color: inherit;
  text-decoration: none;
  background-color: white;
}
.services .container .service-links .service-link:hover {
  background-color: #f9d783;
}
.services .container .service-links .service-link:hover i {
  background-color: white;
  color: #191919;
}
.services .container .service-links .service-link .link-content {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 25px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.services .container .service-links .service-link .link-content .little-black-line {
  height: 1.5px;
  width: 39px;
  background-color: #191919;
  margin-bottom: 45px;
}
.services .container .service-links .service-link .link-content .btn-circular {
  justify-content: end;
}
.services .container .browse-services {
  text-align: center;
}
.services .container .browse-services .btn-transparent {
  display: inline-block;
}

.choose-us {
  position: relative;
  z-index: 0;
}
.choose-us .background-box {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #f0efe9;
  height: 425px;
}
@media (min-width: 1400px) {
  .choose-us .background-box {
    display: block;
    width: 950px;
  }
}
@media (min-width: 1620px) {
  .choose-us .background-box {
    width: 1057px;
  }
}
.choose-us .container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}
@media (min-width: 1200px) {
  .choose-us .container {
    flex-direction: row;
  }
}
.choose-us .container .choose-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .choose-us .container .choose-us-text {
    margin-right: 50px;
  }
}
@media (min-width: 1400px) {
  .choose-us .container .choose-us-text {
    margin-right: 150px;
  }
}
.choose-us .container .choose-us-text .section-title {
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}
@media (min-width: 1200px) {
  .choose-us .container .choose-us-text .section-title {
    text-align: start;
  }
}
.choose-us .container .choose-us-text .reasons-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
@media (min-width: 776px) {
  .choose-us .container .choose-us-text .reasons-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .choose-us .container .choose-us-text .reasons-list {
    grid-template-columns: 1fr;
  }
}
.choose-us .container .choose-us-text .reasons-list .reason {
  display: flex;
  flex-direction: row;
}
.choose-us .container .choose-us-text .reasons-list .reason .icon-circular {
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.choose-us .container .choose-us-text .reasons-list .reason .icon-circular i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border: 1px solid #D1D1D1;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.choose-us .container .choose-us-text .reasons-list .reason .reason-text {
  display: flex;
  flex-direction: column;
}
.choose-us .container img {
  display: none;
  height: 100%;
  width: 100%;
  max-width: 645px;
  margin-top: 40px;
}
@media (min-width: 992px) {
  .choose-us .container img {
    margin-left: 20px;
  }
}
@media (min-width: 1200px) {
  .choose-us .container img {
    display: block;
  }
}
@media (min-width: 1400px) {
  .choose-us .container img {
    margin-left: 100px;
  }
}

.project-case .container .section-title {
  text-align: center;
}
.project-case .container .project-case-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-case .container .project-case-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.project-case .container .project-case-grid .article h3 {
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e7e7e7;
}
.project-case .container .project-case-grid .article .read-more {
  padding: 15px;
  font-family: "Inter", sans-serif;
  display: block;
  text-align: end;
  font-size: 14px;
}
.project-case .container .project-case-grid .article i {
  margin-left: 12px;
}
.project-case .container .project-case-grid .article:hover .read-more {
  text-decoration: underline;
}
.project-case .container .center-item {
  margin-top: 64px;
  margin-bottom: 90px;
}

.article-news .container {
  margin-bottom: 100px;
}
.article-news .container .article-news-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
}
@media (min-width: 992px) {
  .article-news .container .article-news-header {
    flex-direction: row;
    padding-top: 120px;
  }
}
.article-news .container .article-news-header .section-title {
  padding-bottom: 20px;
  padding-top: 0px;
}
.article-news .container .article-news-header .btn-transparent {
  margin-top: auto;
  margin-bottom: 30px;
}
.article-news .container .article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-bottom: 45px;
}
@media (min-width: 992px) {
  .article-news .container .article-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .article-news .container .article-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.article-news .container .article-grid .article {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-decoration: none;
  color: inherit;
}
.article-news .container .article-grid .article img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.article-news .container .article-grid .article:hover h3 {
  text-decoration: underline;
}
.article-news .container .article-scroll {
  display: flex;
  justify-content: center;
}
.article-news .container .article-scroll .button-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.article-news .container .article-scroll .button-container .article-scroll-circle {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #D1D1D1;
}
.article-news .container .article-scroll .button-container .active {
  background-color: #191919;
}

.newsletter-signup {
  background-color: #f0efe9;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 0;
}
.newsletter-signup .background-wavy-lines {
  position: absolute;
  bottom: 50px;
  right: 0;
  display: none;
  z-index: -1;
}
@media (min-width: 1400px) {
  .newsletter-signup .background-wavy-lines {
    display: block;
  }
}
.newsletter-signup .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1200px) {
  .newsletter-signup .container {
    flex-direction: row;
  }
}
.newsletter-signup .container h2 {
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  padding-bottom: 25px;
}
@media (min-width: 1200px) {
  .newsletter-signup .container h2 {
    text-align: start;
    padding-bottom: 0px;
  }
}
.newsletter-signup .container form {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .newsletter-signup .container form {
    flex-direction: row;
  }
}
.newsletter-signup .container form input {
  padding: 12px 30px;
  border-radius: 25px;
  outline: none;
  border: 1px solid #dad9d3;
  margin-right: 0px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .newsletter-signup .container form input {
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

footer {
  background-color: #0e1021;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 0;
}
footer .footer-top {
  position: relative;
}
footer .footer-top .background-lines-white-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: none;
}
@media (min-width: 992px) {
  footer .footer-top .background-lines-white-right {
    display: block;
  }
}
footer .footer-top .container {
  padding-top: 132px;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  footer .footer-top .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-top .container .link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 213px;
}
footer .footer-top .container .crito-about {
  width: 309px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .container .crito-about .crit-logo {
  width: 168px;
}
footer .footer-top .container .crito-about .about-text {
  color: #b6b6bc;
  height: 125px;
  line-height: 1.7em;
}
footer .footer-top .link-header {
  color: white;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}
footer .footer-top .link-list {
  color: #b6b6bc;
  height: 141px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
footer .footer-bottom {
  width: 100%;
  border-top: solid 1px #707070;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .container .copy {
  font-size: 1em;
  color: #b6b6bc;
  width: 475px;
}
footer .footer-bottom .container .social-media {
  width: 137.5px;
  color: white;
  font-size: 1.2em;
}
footer .footer-bottom .container .social-media .social-media-button:hover {
  color: #707070;
}
footer .footer-bottom .container .social-media .social-media-button:active {
  color: #434343;
}