@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  display: flex;
  justify-content: center;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-yellow i {
  margin-left: 12px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
}

.btn-transparent {
  display: flex;
  justify-content: center;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 12px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px soild #191919;
  color: white;
}

header {
  background-color: #F0EFE9;
}
header .container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
header .container #crito-logotype {
  padding-right: 90px;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .header-contact {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #DAD9D3;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact {
    justify-content: space-between;
  }
}
header .container .menu .header-contact .contact-info {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .header-contact .contact-info {
    display: flex;
  }
}
header .container .menu .header-contact .contact-info .contact {
  font-size: 15px;
  font-weight: 300;
  padding-right: 30px;
  margin-right: 20px;
  border-right: 1px solid #DAD9D3;
}
header .container .menu .header-contact .contact-info .contact i {
  margin-right: 3px;
  font-size: 1.2em;
}
header .container .menu .header-contact .contact-info .contact.last {
  border: none;
}
header .container .menu .header-contact .social-media {
  display: flex;
  width: 120px;
  justify-content: space-between;
}
header .container .menu .header-contact .social-media .social-media-button {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
  font-size: 1.2em;
}
header .container .menu .header-contact .social-media .social-media-button:hover {
  color: #707070;
}
header .container .menu .header-contact .social-media .social-media-button:active {
  color: #434343;
}
header .container .menu .header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
header .container .menu .header-menu .nav {
  display: flex;
  justify-content: space-between;
}
header .container .menu .header-menu .nav a {
  text-decoration: inherit;
  cursor: pointer;
  display: inline-block;
  margin-right: 35px;
  position: relative;
  color: inherit;
}
header .container .menu .header-menu .nav a.active::after, header .container .menu .header-menu .nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 45px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
    padding-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
    text-align: start;
  }
}
.showcase .container .content p {
  font-size: 15px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content p {
    text-align: start;
  }
}
.showcase .container .content .links {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .showcase .container .content .links {
    flex-direction: row;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content .links {
    justify-content: start;
  }
}
.showcase .container .content .links a {
  margin-bottom: 15px;
  margin-right: 16px;
}
@media (min-width: 768px) {
  .showcase .container .content .links a {
    margin-bottom: 0px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

footer {
  background-color: #0E1021;
  margin-left: auto;
  margin-right: auto;
}
footer .footer-top {
  padding-top: 132px;
  padding-bottom: 132px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  footer .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .footer-top .link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 213px;
}
footer .footer-top .crito-about {
  width: 309px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .crito-about .crit-logo {
  width: 168px;
}
footer .footer-top .crito-about .about-text {
  color: #B6B6BC;
  height: 125px;
  line-height: 1.7em;
}
footer .footer-top .link-header {
  color: white;
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  height: 30px;
}
footer .footer-top .link-list {
  color: #B6B6BC;
  height: 141px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer .footer-top .link {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
footer .footer-bottom {
  width: 100%;
  border-top: solid 1px #707070;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .container .copy {
  font-size: 1em;
  color: #B6B6BC;
  width: 475px;
}
footer .footer-bottom .container .social-media {
  display: flex;
  width: 137.5px;
  color: white;
  justify-content: space-between;
  font-size: 1.2em;
}
footer .footer-bottom .container .social-media .social-media-button {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
footer .footer-bottom .container .social-media .social-media-button:hover {
  color: #707070;
}
footer .footer-bottom .container .social-media .social-media-button:active {
  color: #434343;
}