
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100&family=Inter:wght@300;400;500;700;900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');
html, body {
    color:#191919;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    h3 {
        font-size: 22px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
    }
}
.social-media {
    display:flex;
    justify-content: space-between;
    font-size: 1.2em;
    .social-media-button {
        color: inherit; 
        text-decoration: inherit;
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 12px;
        font-size: 0.9em;
    }

    &:hover {
        background-color:#191919;
        border: 1px solid#191919;
        color: white;
    }
}
.btn-transparent {
    border: 1px solid #191919;
    color: #191919;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 12px;
        font-size: 0.9em;
    }

    &:hover {
        background-color:#191919;
        border: 1px soild#191919;
        color: white;
    }
}
.btn-black {
    border: 1px solid #191919;
    background-color: #191919;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;

    i {
        margin-left: 12px;
        font-size: 0.9em;
    }

    &:hover {
        background-color: white;
        border: 1px soild#191919;
        color: #191919;
    }
}
.btn-circular {
    display: flex;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    i{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #191919;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-right: 15px;
        &:hover {
            background-color: #ffff;
            color: #191919;
        }
    }
}

.section-title {
    padding-top: 70px;
    padding-bottom: 35px;

    @media (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 90px;  
    }
    h2 {
        font-size: 45px;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
    }
    p {
        color: #F94D1C;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        
    }
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color:#F0EFE9;
    .container {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: space-between;

        #crito-logotype {
            padding-right: 90px;
        }

        .menu-bars {
            font-size: 25px;
            border:none;
            background-color: transparent;

            @media (min-width:992px) {
                display: none;
            }
        }
        .menu {
            display:none;
            flex: 1;
            @media (min-width:992px) {
                display: block;
            }
            .header-contact {
                display: flex;
                justify-content: flex-end;
                padding-top: 12px;
                padding-bottom: 12px;
                border-bottom: 1px solid #DAD9D3;
                align-items: center;
                @media (min-width:1200px) {
                    justify-content: space-between;
                }
                .contact-info {
                    display: none;
                    align-items: center;
                    @media (min-width:1200px) {
                        display: flex;
                    }

                    .contact {
                        font-size: 15px;
                        font-weight: 300;
                        padding-right: 30px;
                        margin-right: 20px;
                        border-right: 1px solid #DAD9D3;
                        i {
                            margin-right: 3px;
                            font-size: 1.2em;
                        }
                        &.last {
                            border: none;
                        }
                    }
                }
                .social-media {
                    width:120px;
                    .social-media-button {
                        color: #191919;
                        &:hover {
                            color:#707070;
                        }
                        &:active {
                            color: #434343
                        }
                    }
                }
            }
            .header-menu {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 20px;
                .nav {
                    display: flex;
                    justify-content: space-between;
                    a {
                        text-decoration: inherit;
                        cursor: pointer;
                        display:inline-block;
                        margin-right: 35px;
                        position:relative;
                        color:inherit;
                        &.active::after,
                        &:hover::after {
                            content: '';
                            position: absolute;
                            font-weight: 500;
                            height: 2px;
                            width: 15px;
                            background-color: #191919;
                            left: 50%;
                            bottom: -3px;
                            transform: translate((calc(50% - 15px)));
                        }
                    }
                }
            }
        }
    }
}    

.showcase {
    background-color: #F0EFE9;
    .container {
        display: flex;
        justify-content: space-between;
        .content {
            padding-top: 80px;
            padding-bottom: 40px;
            text-align: center;
            h1 {
                font-family: 'DM Sans', sans-serif;
                font-weight: 800;
                font-size: 45px;
                padding-bottom: 10px;
                @media (min-width:768px) {
                    font-size: 70px;
                    padding-bottom: 0px;
                }
                @media (min-width:1200px) {
                    text-align: start;
                }
                @media (min-width:1400px) {
                    font-size: 86px;
                    text-align: start;
                }
            }
            p {
                font-size: 15px;
                padding-bottom: 30px;
                @media (min-width:768px) {
                    font-size: 20px;
                }
                @media (min-width:1200px) {
                    text-align: start;
                }
            }
            .links {
                display: flex;
                justify-content: center;
                flex-direction: column;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
                @media (min-width:1200px) {
                    justify-content: start;
                }
                a {
                    margin-bottom: 15px;
                    margin-right: 16px;
                    @media (min-width: 768px) {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        img {
            display: none;
            margin-right: -50px;
            @media (min-width:1200px) {
                display: block;
            }
        }
    }
}

.brands {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-top: 22px;
        padding-bottom: 26px;
        @media (min-width:768px) {
            padding-top: 32px;
            padding-bottom: 42px;
        }
        @media (min-width:1200px) {
            padding-top: 72px;
            padding-bottom: 82px;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.about-company {
    .container {
        display: flex;
        flex-direction: column;
         @media (min-width:992px) {
            flex-direction: row;
         }
        .founder-section {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            margin-bottom: 40px;
            img {
                display: none;
                @media (min-width:768px) {
                    display: block;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }
            .about-founder {
                position: relative;
                padding-top: 35px;
                padding-bottom: 40px;
                padding-left: 24px;
                padding-right: 24px;
                background-color: #BEEBFF;
                
                @media (min-width:768px) {
                    height: 185px;
                    width:368px;
                    right:56px;
                    bottom: 220px;
                }
                
                h3 {
                    font-size: 20px;
                    padding-bottom: 12px;
                    span {
                        color: #F94D1C;
                        font-size: 16px;
                    }
                }
            }
        }
        .about-company-text {
            max-height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            @media (min-width:992px) {
                text-align: start;
                padding-left: 50px;
            }
            @media (min-width:1400px) {
                padding-left: 200px;
            }
            p {
                padding-bottom: 50px;
                @media (min-width:1200px) {
                    padding-bottom: 100px;
                }
                @media (min-width:1400px) {
                    padding-bottom: 170px;
                }
            }
            .section-title {
                padding-bottom: 20px;
                padding-top: 0px;
                p {
                    padding-bottom: 0px;
                }
            }
            .learn-video {
                display: flex;
                justify-content: center;
                @media (min-width:1200px) {
                    justify-content: start;
                }
                .play-video {
                    margin-left: 10px;
                    @media (min-width:1200px) {
                        justify-content: left;
                        margin-left: 40px;
                    }
                    .btn-play {
                        display: flex;
                        color: #191919;
                        text-decoration: none;
                        font-weight: 600;
                        justify-content: center;
                        align-items: center;
                        i{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid #191919;
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            margin-right: 15px;
                        }
                        &:hover {
                            i {
                                background-color: #191919;
                                border: 1px soild#191919;
                                color: #ffff;
                            }
                        }
                    }
                }
            }
        }
    }
}

.services {
    background-color: #F0EFE9;
    .container {
        padding-bottom: 120px;
        .section-title {
            text-align: center;
            padding-bottom: 30px;
            @media (min-width:992px) {
                text-align: start;
                width:500px;
            }
        }
        .service-links {
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;
            margin-bottom: 50px;
            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;
            }
            @media (min-width:1400px) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            .service-link {
                color: inherit;
                text-decoration: none;
                background-color: #FFFF;
                &:hover {
                    background-color: #F9D783;
                    i {
                        background-color: #ffff;
                        color:#191919
                    }
                }
                .link-content {
                    display: flex;
                    flex-direction: column;
                    margin-left: 30px;
                    margin-right: 25px;
                    margin-top: 45px;
                    margin-bottom: 45px;
                    .btn-circular {
                        justify-content: end;
                    }
                }
                
            }
        }
        .browse-services {
            text-align: center;
            .btn-transparent {
                display: inline-block;
            }
        }
    }
}

.project-case {
    .container {
        .section-title {
            text-align: center;
        }
    .project-case-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;
            }        
            .article {
                display: grid;
                grid-template-rows: auto 1fr auto;
                text-decoration: none;
                color: inherit;

                img {
                    width: 100%;
                    height: auto;
                }
                h3 {
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #E7E7E7;
                }
                .read-more {
                    padding: 15px;
                    font-family: 'Inter', sans-serif;
                    display: block;
                    text-align: end;
                    font-size: 14px;
                }
                i {
                    margin-left: 12px;
                }
                &:hover .read-more{
                    text-decoration: underline;
                }
            }
        }
        .center-item {
            margin-top: 64px;
            margin-bottom: 90px;
        }
    }

}

footer{ 
    background-color: #0E1021; 
    margin-left: auto;
    margin-right: auto;

    .footer-top {
        padding-top: 132px;
        padding-bottom: 132px;
        display: flex;
        flex-direction: column;

        @media (min-width:576px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .link-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 213px;
        }

        .crito-about {
            width: 309px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .crit-logo {
                width: 168px;
            }

            .about-text {
                color: #B6B6BC;
                height: 125px;
                line-height: 1.7em;
            }
        }

        .link-header {
            color: white;
            font-family: 'DM Sans';
            font-size: 22px;
            font-weight: bold;
            height: 30px;
        }
        .link-list {
            color:#B6B6BC;
            height: 141px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .link {
            color: inherit; 
            text-decoration: inherit;
            cursor: pointer;
        }
    }

    .footer-bottom {
        width: 100%;
        border-top: solid 1px #707070;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        .container {
            display: flex;
            justify-content: space-between;
            .copy {
                font-size: 1em;
                color: #B6B6BC;
                width:475px;
            }
            .social-media {
                width:137.5px;
                color: white;
                font-size: 1.2em;
                .social-media-button {
                    &:hover {
                        color:#707070;
                    }
                    &:active {
                        color: #434343
                    }
                }
            }
        }
    }
}