
a {
    all: unset;
}


header {
    background-color: #F0EFE9;
    padding-left: 300px;
    padding-right: 300px;
}
.footer{ 
    background-color: #0E1021; 
    

    .footer-top {
        padding-top: 132px;
        padding-bottom: 132px;
        display: flex;
        justify-content: space-between;
        margin-left: 300px;
        margin-right: 300px;

        .crito-about {
            .about-text {
                font-family: 'Inter', sans-serif;
                color: #B6B6BC
            }
        }

        .company {
            .company-header {
                color: white;
                font-family: 'DM Sans';
                font-size: 22px;
                font-weight: bold;
            }
            .company-list {
                color:#B6B6BC;
                font-family: 'Inter', sans-serif;
            }
        } 

        .help {
                .help-header {
                    color: white;
                    font-family: 'DM Sans';
                    font-size: 22px;
                    font-weight: bold;
                }
                .help-list {
                    color:#B6B6BC;
                    font-family: 'Inter', sans-serif;
                }
        }
        .resources {
            .res-header {
                color: white;
                font-family: 'DM Sans';
                font-size: 22px;
                font-weight: bold;
            }
            .res-list {
                color:#B6B6BC;
                font-family: 'Inter', sans-serif;
            }

        }

        .link {
            .link-header {
                color: white;
                font-family: 'DM Sans';
                font-size: 22px;
                font-weight: bold;
            }
            .link-list {
                color:#B6B6BC;
                font-family: 'Inter', sans-serif;
            }
    
        }
        
    }

    .footer-bottom {
        width: 100%;
        border-top: solid 1px #707070;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .copy {
            font-family: 'Inter', sans-serif;
            font-size: 1em;
            color: #B6B6BC;
            width:475px;
            margin-left: 300px;
        }
        .social-media {
            display:flex;
            width:137.5px;
            color: white;
            justify-content: space-between;
            margin-right: 300px;
            .social-media-button {
                cursor:pointer;
            }
            #facebook-button:hover {
                color:rgb(50, 116, 247);
            }
            #facebook-button:active {
                color:rgb(35, 86, 186);
            }
        }
    }
}

.parent {
    display: flex;
    justify-content: space-between;
  
    .child {
      display: flex;
      border: 1px solid black;
      flex: 1;
      padding: 10px;
    }
    #child-2 {
        flex: 2;
        justify-content: center;
    }
  }